.navbar {
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #FAFAFA;
    z-index: 10000;
}

.navbar form {
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 300px;
    max-height: 100px;
    width: 100%;
}

.navbar input {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.navbar .material-icons {
    color: initial;
    font-size: 36px;
}
