.post-wrapper {
    background-color: #FAFAFA;
}

.post {
    display: flex;
    margin: 15px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 5px;
}

.post > img {
    width: 60%;
}

.panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 2px 16px;
    background-color: white;
}

.comments {
    flex-grow: 4;
    overflow-y: auto;
    font-size: 13px;
}

.comments::-webkit-scrollbar {
    width: 4px;
}

.comments::-webkit-scrollbar-track {
    background-color: #dfdddd;
    border-radius: 10px;
}

.comments::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.comments ul {
    min-height: 75%;
    height: 0;
}

.profile-bar img,
.comments img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

ul {
    padding: 0;
    list-style-type: none;
}

.profile-bar {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.profile-bar input[type="submit"].button {
    color: #0095F6;
    background-color: white;
    display: inline;
    width: initial;
    margin-top: 0;
    padding: 0;
    font-weight: 400;
}

.post-bottom .material-icons:first-of-type {
    color: #ee515e;
}

.post-bottom {
    margin-bottom: 5px;
    font-size: 12px;
    padding-top: 10px;
    border-top: 1px solid lightgray;
}

.comment-wrapper, .key-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
}

.comment-box, .key-box {
    width: 80%;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-wrapper input[type="submit"].button,
.key-wrapper input[type="submit"].button {
    width: 25%;
    font-size: 14px;
}

.key-wrapper input[type="submit"].button {
    background-color: green;
}

.key-wrapper input[type="submit"].button:active, .key-wrapper button.button:active, 
.key-wrapper a.button:active, .key-wrapper input[type="submit"].button[disabled], 
.key-wrapper button.button[disabled], .key-wrapper a.button[disabled] {
    background-color: #33B333;
}

.key-wrapper input[type="text"] {
    background-color: transparent;
}

.key-wrapper.unlock-error {
    background-color: #FFCCCB;
}

@media screen and (max-width: 1000px) {
    .post {
        display: block;
    }
    .post > img {
        width: 100%;
    }
    .comments ul {
        height: initial;
        max-height: 300px;
        overflow-y: auto;
    }
}
