main {
    background-color: white;
    margin: 10px auto;
    max-width: 1030px;
    box-sizing: border-box;
}

footer {
    align-items: center;
    color: #8E8E8E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
