main {
    background-color: white;
    border: 1px solid #CCCCCC;
    margin: 10px auto;
    max-width: 1000px;
    padding: 30px;
}

footer {
    align-items: center;
    color: #8E8E8E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
